@media (min-width: 100px) and (max-width: 360px){
  .agendaC{
    margin: 5px;
    background-color: skyblue;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    't'
    'f'
  }

  .agendaC > .titulo{
    grid-area: t;
    text-align: center;
  }

  .agendaC > .titulo > h2{
    font-family: 'Ubuntu';
    font-weight: bolder;
  }

  .agendaC > .titulo > .imagem > .usr_p{
    width: 10%;
    height: auto;
    transform: scaleX(-1);
    margin-left: 100px;
    margin-top: -55px;
  }

  .agendaC > .formu{
    grid-area: f;
    background: LightBlue;
    padding: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .agendaC > .formu > .formulario{
    width: 80%;
  }

  .agendaC > .botoes > button{
    font-weight: bold;
    margin: 10px;
  }
}
