#formular{
  background-color: skyblue;
  margin: 5px;
}
#formular > header{
  font-family: 'Ubuntu';
  font-weight: bold;
  color: white;
  /*text-shadow:deslocamento(x,y) blur cor*/
  text-shadow: 0.1em 0.2em 0.3em #333;
}
#formular > .corpoForm{
  margin: 5px;
}
#formular > .corpoForm > .formulario{
  margin: 30px;
}
#formular > .controle{
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.secaox{
  width: 95%;
  background-color: white;
}
.secaox > h1{
  font-family: 'Ubuntu';
  font-weight: bold;
  margin: 10px;
  background: skyblue;
  text-align: center;
}
.secaox > p{
  font-family: 'ubuntu';
  margin: 10px;
}
.secaox > .botaox{
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-top: -20px;
  margin-right: 10px;
  margin-bottom: -30px;
}
