@charset "UTF-8";

@media (min-width: 100px) and (max-width: 360px){
  .prof{
    background-color: white;
    width: 100%;
  }
  .prof > .foto{
    grid-area: fp;
    position: relative;
    background-color: #d3d3d3;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-left: 120px;
    margin-top: -20px;
  }
  .prof > .foto > #avatar{
    height: 90px;
    width: 90px;
    left: -17px;
    border-radius: 100%;
    position: relative;
  }
  /* painel */
  .prof > .painel{
    background-color: lightgrey;
    width: 98.5%;
    height: auto;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    'ag ag2 pv'
    'nt mt id'
  }
  .prof > .painel > .iagenda, .iagendador, .iprova, .inotas, .imaterial, .iid > label{
    font-family: 'Ubuntu';
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
  .iagenda {grid-area: ag;}
  .iagendador {grid-area: ag2;}
  .iprova {grid-area: pv;}
  .inotas {grid-area: nt;}
  .imaterial {grid-area: mt;}
  .iid {grid-area: id;}
  /* tela de agendados */
  .agenda-sec > .grade-agenda{
    background-color: white;
  }
  .agenda-sec > .grade-agenda > .artigo > .titulo > .h2{
    font-family: 'Ubuntu';
    font-weight: bold;
  }
}
