{% extends 'paginas/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}
<div class="agendaC">
  <div class="titulo">
    <h2>{{titulo}}</h2>
    <div class="imagem">
      <img class="usr_p" src="{% static 'img/hpardo.png' %}" alt="">
    </div>
  </div>
  <div class="formu">
    <form class="formulario" method="post" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form|crispy}}
      <button type="reset" class="btn btn-warning">Reseta</button>
      <button type="submit" class="btn btn-success">Agenda</button>
    </form>
  </div>
</div>
{% endblock %}
